@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Merriweather:900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #646D70;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 52.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7567401961)), to(rgba(68, 40, 8, 0.2693452381)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7567401961) 0%, rgba(68, 40, 8, 0.2693452381) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  background-color: #FFFFFF;
  padding: 1.25rem;
  width: 100%;
  max-width: 37.5rem;
  border-radius: 0.625rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup--contact .popup__close {
  position: absolute;
  top: 1.25rem;
  right: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup--contact .popup__close img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
}

.popup--contact .popup__body {
  padding-top: 2.5rem;
  padding-bottom: 1.875rem;
  text-align: center;
}

.popup--contact .popup__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.popup--contact .popup__mail {
  font-weight: 500;
  color: #1b332c;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup--contact .popup__mail::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.0625rem;
  bottom: -0.125rem;
  right: 0;
  background-color: #1b332c;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  position: relative;
}

.page__up {
  position: fixed;
  z-index: 100;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: 0.0625rem solid #1b332c;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
  bottom: 6.25rem;
  right: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.page__up img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
}

.page__up._scroll {
  opacity: 1;
  visibility: visible;
}

.title {
  font-family: "Merriweather";
  font-weight: 900;
  line-height: 1.2666666667;
  color: #FFFFFF;
}

.title--dark {
  color: #222F33;
}

.title--small {
  font-size: 1.125rem;
  line-height: 1.2777777778;
  color: #222F33;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5625rem 1.3125rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.1666666667;
  color: #606B74;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  border: 0.0625rem solid transparent;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
}

.button--invert {
  border: 0.0625rem solid #1b332c;
}

.text {
  line-height: 1.8571428571;
}

.text--white {
  color: #FFFFFF;
}

.text--small {
  font-size: 0.75rem;
  line-height: 1.8333333333;
}

.text p:not(:last-child) {
  margin-bottom: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6.5625rem;
  top: 0;
  right: -100%;
  background-color: rgba(27, 51, 44, 0.8);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 2;
  opacity: 0;
}

.menu-open .header::before {
  right: 0;
  opacity: 1;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(68, 40, 8, 0.4)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(68, 40, 8, 0.4) 100%);
  -webkit-transition: opacity 0.6s ease 0s;
  transition: opacity 0.6s ease 0s;
}

.header._scroll::after {
  opacity: 1;
}

.header__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  color: #FFFFFF;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.4375rem;
          flex: 0 0 8.4375rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.header__logo img {
  width: 8.4375rem;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__button {
  position: relative;
  z-index: 10;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item {
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__item::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.0625rem;
  bottom: -0.125rem;
  right: 0;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link {
  font-size: 0.75rem;
  font-weight: 500;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #1b332c;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1fr 10rem;
  grid-template-columns: 10rem 1fr 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__mail {
  position: relative;
  font-size: 0.75rem;
  font-weight: 500;
  color: #FFFFFF;
  opacity: 0.6;
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-transform: translateX(-2.5rem);
      -ms-transform: translateX(-2.5rem);
          transform: translateX(-2.5rem);
}

.footer__mail::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.0625rem;
  bottom: -0.125rem;
  right: 0;
  background-color: #FFFFFF;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__logo {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.footer__logo img {
  width: 8.4375rem;
}

.footer__menu {
  -webkit-transform: translateX(2.5rem);
      -ms-transform: translateX(2.5rem);
          transform: translateX(2.5rem);
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #FFFFFF;
  opacity: 0.6;
}

.menu-footer__item {
  position: relative;
}

.menu-footer__item::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.0625rem;
  bottom: -0.125rem;
  right: 0;
  background-color: #FFFFFF;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.hero {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__container {
  position: relative;
  z-index: 10;
  min-height: 100%;
  padding-top: 6.5625rem;
  padding-bottom: 3.125rem;
}

.hero__label {
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
}

.hero__label:not(:last-child) {
  margin-bottom: 0.75rem;
}

._watcher-view .hero__label {
  opacity: 0.8;
}

.hero__label,
.hero__title {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translateY(-150%) scale(0);
      -ms-transform: translateY(-150%) scale(0);
          transform: translateY(-150%) scale(0);
}

._watcher-view .hero__label,
._watcher-view .hero__title {
  opacity: 0.8;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.hero__label {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.hero__title {
  -webkit-transform: translateY(150%) scale(0);
      -ms-transform: translateY(150%) scale(0);
          transform: translateY(150%) scale(0);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

._watcher-view .hero__title {
  opacity: 1;
}

.hero__video-link {
  color: #FFFFFF;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-250%) scale(0);
      -ms-transform: translateY(-250%) scale(0);
          transform: translateY(-250%) scale(0);
}

.hero__video-link::before {
  content: "";
  width: 2rem;
  height: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
  border-radius: 50%;
  background: url("../img/hero/icons/play.svg") left no-repeat;
  -webkit-animation: play 0.8s ease infinite alternate;
          animation: play 0.8s ease infinite alternate;
}

._watcher-view .hero__video-link {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero__image::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7567401961)), to(rgba(68, 40, 8, 0.2693452381)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7567401961) 0%, rgba(68, 40, 8, 0.2693452381) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__socials {
  position: absolute;
  height: 100%;
  top: 0;
  right: 3%;
  z-index: 12;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes play {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.socials-hero {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  color: #FFFFFF;
  font-size: 0.625rem;
  font-weight: 500;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translateY(-150%) scale(0);
      -ms-transform: translateY(-150%) scale(0);
          transform: translateY(-150%) scale(0);
}

.socials-hero__item {
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._watcher-view .socials-hero {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.materials {
  position: relative;
}

.materials::before {
  content: "";
  background-color: #FFFFFF;
  position: absolute;
  width: 61.6%;
  height: 2.3125rem;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.materials::after {
  content: "";
  background-color: #1b332c;
  position: absolute;
  width: 38.4%;
  height: 38%;
  bottom: 0;
  right: 0;
}

.materials__container {
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.625rem;
}

.materials__content {
  padding-top: 1.5625rem;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 0.8125rem;
}

.materials__title,
.materials__text,
.materials__button {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
}

._watcher-view .materials__title,
._watcher-view .materials__text,
._watcher-view .materials__button {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.materials__title {
  -webkit-transform: translateY(-150%) scale(0);
      -ms-transform: translateY(-150%) scale(0);
          transform: translateY(-150%) scale(0);
}

.materials__text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform: translateY(150%) scale(0);
      -ms-transform: translateY(150%) scale(0);
          transform: translateY(150%) scale(0);
}

.materials__button {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: translateY(250%) scale(0);
      -ms-transform: translateY(250%) scale(0);
          transform: translateY(250%) scale(0);
}

.materials__body {
  min-width: 0;
  -ms-grid-column-align: end;
      justify-self: end;
}

.materials__slider {
  position: relative;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

.materials__slide {
  aspect-ratio: 325/366;
  position: relative;
  height: 22.875rem;
}

.slide-materials__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-materials__pagination {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  left: 0;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.slide-materials__pagination .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5rem;
          flex: 0 0 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
  opacity: 0.4;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.slide-materials__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.innovate {
  background-color: #1b332c;
}

.innovate__title {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translateY(-150%) scale(0);
      -ms-transform: translateY(-150%) scale(0);
          transform: translateY(-150%) scale(0);
}

.innovate__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

._watcher-view .innovate__title {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.innovate__text {
  -webkit-columns: 2 16.25rem;
     -moz-columns: 2 16.25rem;
          columns: 2 16.25rem;
  gap: 2.6875rem;
}

.innovate__text p {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
}

._watcher-view .innovate__text p {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 0.7;
}

.information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

._watcher-view .information__image {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.information__image::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7567401961)), to(rgba(68, 40, 8, 0.2693452381)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7567401961) 0%, rgba(68, 40, 8, 0.2693452381) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.information__image img {
  max-width: 100%;
}

.information__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.information__item {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

._watcher-view .information__item {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.item-information__title:not(:last-child) {
  margin-bottom: 0.25rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 43.75em) {
  .hero__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% 1fr;
    grid-template-columns: 55% 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 50.625em) {
  .header__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .information__container {
    -webkit-column-gap: 4.6875rem;
       -moz-column-gap: 4.6875rem;
            column-gap: 4.6875rem;
  }

  .information__content {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .information__content {
    row-gap: 2.1875rem;
  }
}

@media (min-width: 52.5em) {
  .title {
    font-size: 1.875rem;
  }

  .header {
    padding-top: 2.1875rem;
  }

  .header {
    padding-bottom: 2.1875rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .materials__container {
    padding-bottom: 3.5625rem;
  }

  .materials__body {
    max-width: 20.3125rem;
  }

  .innovate {
    padding-top: 4.5rem;
  }

  .innovate {
    padding-bottom: 5rem;
  }

  .information {
    padding-top: 5.3125rem;
  }

  .information {
    padding-bottom: 5.3125rem;
  }
}

@media (max-width: 48em) {
  .information__content {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .information__content {
    row-gap: 1.5625rem;
  }
}

@media (max-width: 25em) {
  .information__content {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .materials__container {
    padding-bottom: 1.875rem;
  }

  .materials__body {
    max-width: 17.5rem;
  }

  .innovate {
    padding-top: 1.875rem;
  }

  .innovate {
    padding-bottom: 1.875rem;
  }

  .information {
    padding-top: 1.875rem;
  }

  .information {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 56.25em) {
  .footer__mail {
    -webkit-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
            transform: translateX(0rem);
  }

  .footer__menu {
    -webkit-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@media (max-width: 47.99875em) {
  .button {
    font-size: 1rem;
  }

  .header__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .header__button {
    margin-right: 1.25rem;
  }

  .menu__body {
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    scrollbar-gutter: stable;
    background-color: rgba(27, 51, 44, 0.9);
    overflow: auto;
    padding: 7.5rem 1.875rem 1.875rem 1.875rem;
    opacity: 0;
  }

  .menu-open .menu__body {
    right: 0;
    opacity: 1;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 2.5rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    height: 0.125rem;
    background-color: #FFFFFF;
  }

  .icon-menu::before {
    width: 30%;
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
    width: 100%;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    width: 70%;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    width: 100%;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .hero {
    min-height: 100svh;
  }

  .information__container {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .information__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 25em) {
  .information__content {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .information__content {
    row-gap: 1.5625rem;
  }
}

@media (max-width: 43.75em) {
  .button--invert {
    width: 100%;
  }

  .hero__content {
    margin-bottom: 2.5rem;
    max-width: 90%;
  }

  .hero__video-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .materials::before {
    display: none;
  }

  .materials__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .materials__body {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .materials__slider {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 35.625em) {
  .footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    row-gap: 1.5625rem;
  }

  .footer__mail {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .footer__menu {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.1875rem;
            flex: 0 0 2.1875rem;
    width: 2.1875rem;
  }

  .header__logo img {
    width: 8.4375rem;
  }
}

@media (min-width: 20em) and (max-width: 52.5em) {
@supports (font-size: clamp( 1.5rem , 1.2692307692rem  +  1.1538461538vw , 1.875rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.2692307692rem  +  1.1538461538vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2692307692rem  +  1.1538461538vw , 1.875rem )) {
    .title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6730769231rem  +  2.8846153846vw , 2.1875rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.6730769231rem  +  2.8846153846vw , 2.1875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6730769231rem  +  2.8846153846vw , 2.1875rem )) {
    .header {
      padding-top: calc(1.25rem + 0.9375 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6730769231rem  +  2.8846153846vw , 2.1875rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.6730769231rem  +  2.8846153846vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6730769231rem  +  2.8846153846vw , 2.1875rem )) {
    .header {
      padding-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 32.5);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 32.5);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 32.5);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8365384615rem  +  5.1923076923vw , 3.5625rem )) {
    .materials__container {
      padding-bottom: clamp( 1.875rem , 0.8365384615rem  +  5.1923076923vw , 3.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8365384615rem  +  5.1923076923vw , 3.5625rem )) {
    .materials__container {
      padding-bottom: calc(1.875rem + 1.6875 * (100vw - 20rem) / 32.5);
    }
}

@supports (max-width: clamp( 17.5rem , 15.7692307692rem  +  8.6538461538vw , 20.3125rem )) {
    .materials__body {
      max-width: clamp( 17.5rem , 15.7692307692rem  +  8.6538461538vw , 20.3125rem );
    }
}

@supports not (max-width: clamp( 17.5rem , 15.7692307692rem  +  8.6538461538vw , 20.3125rem )) {
    .materials__body {
      max-width: calc(17.5rem + 2.8125 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2596153846rem  +  8.0769230769vw , 4.5rem )) {
    .innovate {
      padding-top: clamp( 1.875rem , 0.2596153846rem  +  8.0769230769vw , 4.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2596153846rem  +  8.0769230769vw , 4.5rem )) {
    .innovate {
      padding-top: calc(1.875rem + 2.625 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.0480769231rem  +  9.6153846154vw , 5rem )) {
    .innovate {
      padding-bottom: clamp( 1.875rem , -0.0480769231rem  +  9.6153846154vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.0480769231rem  +  9.6153846154vw , 5rem )) {
    .innovate {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.2403846154rem  +  10.5769230769vw , 5.3125rem )) {
    .information {
      padding-top: clamp( 1.875rem , -0.2403846154rem  +  10.5769230769vw , 5.3125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.2403846154rem  +  10.5769230769vw , 5.3125rem )) {
    .information {
      padding-top: calc(1.875rem + 3.4375 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2403846154rem  +  10.5769230769vw , 5.3125rem )) {
    .information {
      padding-bottom: clamp( 1.875rem , -0.2403846154rem  +  10.5769230769vw , 5.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2403846154rem  +  10.5769230769vw , 5.3125rem )) {
    .information {
      padding-bottom: calc(1.875rem + 3.4375 * (100vw - 20rem) / 32.5);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 50.625em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -33.6435030938rem  +  71.3945740124vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -33.6435030938rem  +  71.3945740124vw , 2.5rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.625rem , -33.6435030938rem  +  71.3945740124vw , 2.5rem );
         -moz-column-gap: clamp( 0.625rem , -33.6435030938rem  +  71.3945740124vw , 2.5rem );
              column-gap: clamp( 0.625rem , -33.6435030938rem  +  71.3945740124vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -33.6435030938rem  +  71.3945740124vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -33.6435030938rem  +  71.3945740124vw , 2.5rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.625rem + 1.875 * (100vw - 47.99875rem) / 2.62625);
         -moz-column-gap: calc(0.625rem + 1.875 * (100vw - 47.99875rem) / 2.62625);
              column-gap: calc(0.625rem + 1.875 * (100vw - 47.99875rem) / 2.62625);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , -55.5516718229rem  +  118.9909566873vw , 4.6875rem )) or (column-gap: clamp( 1.5625rem , -55.5516718229rem  +  118.9909566873vw , 4.6875rem ))) {
    .information__container {
      -webkit-column-gap: clamp( 1.5625rem , -55.5516718229rem  +  118.9909566873vw , 4.6875rem );
         -moz-column-gap: clamp( 1.5625rem , -55.5516718229rem  +  118.9909566873vw , 4.6875rem );
              column-gap: clamp( 1.5625rem , -55.5516718229rem  +  118.9909566873vw , 4.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -55.5516718229rem  +  118.9909566873vw , 4.6875rem )) or (column-gap: clamp( 1.5625rem , -55.5516718229rem  +  118.9909566873vw , 4.6875rem ))) {
    .information__container {
      -webkit-column-gap: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 2.62625);
         -moz-column-gap: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 2.62625);
              column-gap: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 2.62625);
    }
}
}

@media (min-width: 48em) and (max-width: 50.625em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -38.4375rem  +  83.3333333333vw , 3.75rem )) or (column-gap: clamp( 1.5625rem , -38.4375rem  +  83.3333333333vw , 3.75rem ))) {
    .information__content {
      -webkit-column-gap: clamp( 1.5625rem , -38.4375rem  +  83.3333333333vw , 3.75rem );
         -moz-column-gap: clamp( 1.5625rem , -38.4375rem  +  83.3333333333vw , 3.75rem );
              column-gap: clamp( 1.5625rem , -38.4375rem  +  83.3333333333vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -38.4375rem  +  83.3333333333vw , 3.75rem )) or (column-gap: clamp( 1.5625rem , -38.4375rem  +  83.3333333333vw , 3.75rem ))) {
    .information__content {
      -webkit-column-gap: calc(1.5625rem + 2.1875 * (100vw - 48rem) / 2.625);
         -moz-column-gap: calc(1.5625rem + 2.1875 * (100vw - 48rem) / 2.625);
              column-gap: calc(1.5625rem + 2.1875 * (100vw - 48rem) / 2.625);
    }
}

@supports (row-gap: clamp( 1.5625rem , -9.8660714286rem  +  23.8095238095vw , 2.1875rem )) {
    .information__content {
      row-gap: clamp( 1.5625rem , -9.8660714286rem  +  23.8095238095vw , 2.1875rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , -9.8660714286rem  +  23.8095238095vw , 2.1875rem )) {
    .information__content {
      row-gap: calc(1.5625rem + 0.625 * (100vw - 48rem) / 2.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .information__content {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .information__content {
    row-gap: 2.1875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 25em) and (max-width: 47.99875em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -0.8153466221rem  +  9.5113864884vw , 3.75rem )) or (column-gap: clamp( 1.5625rem , -0.8153466221rem  +  9.5113864884vw , 3.75rem ))) {
    .information__content {
      -webkit-column-gap: clamp( 1.5625rem , -0.8153466221rem  +  9.5113864884vw , 3.75rem );
         -moz-column-gap: clamp( 1.5625rem , -0.8153466221rem  +  9.5113864884vw , 3.75rem );
              column-gap: clamp( 1.5625rem , -0.8153466221rem  +  9.5113864884vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -0.8153466221rem  +  9.5113864884vw , 3.75rem )) or (column-gap: clamp( 1.5625rem , -0.8153466221rem  +  9.5113864884vw , 3.75rem ))) {
    .information__content {
      -webkit-column-gap: calc(1.5625rem + 2.1875 * (100vw - 25rem) / 22.99875);
         -moz-column-gap: calc(1.5625rem + 2.1875 * (100vw - 25rem) / 22.99875);
              column-gap: calc(1.5625rem + 2.1875 * (100vw - 25rem) / 22.99875);
    }
}

@supports (row-gap: clamp( 1.5625rem , 0.8831152508rem  +  2.7175389967vw , 2.1875rem )) {
    .information__content {
      row-gap: clamp( 1.5625rem , 0.8831152508rem  +  2.7175389967vw , 2.1875rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , 0.8831152508rem  +  2.7175389967vw , 2.1875rem )) {
    .information__content {
      row-gap: calc(1.5625rem + 0.625 * (100vw - 25rem) / 22.99875);
    }
}
}

@media (any-hover: hover) {
  .popup--contact .popup__mail:hover::after {
    width: 100%;
  }

  .page__up:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }

  .button:hover {
    color: #FFFFFF;
    background-color: transparent;
    border: 0.0625rem solid #FFFFFF;
  }

  .button--invert:hover {
    background-color: #1b332c;
    color: #FFFFFF;
    border: 0.0625rem solid #1b332c;
  }

  .header__logo:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .menu__item:hover::after {
    width: 100%;
  }

  .footer__mail:hover::after {
    width: 100%;
  }

  .footer__logo:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .menu-footer__item:hover::after {
    width: 100%;
  }

  .hero__video-link:hover::before {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }

  .socials-hero__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
